.main-content.box-content {
    position: relative;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
}

.div-box-content {
    height: 609px;
    position: relative;
    margin-top: 80px;
}

.our-story {
    position: absolute;
    top: 137px;
    left: 0;
    width: 525px;
    height: 336px;
}

.p-out-story {
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 3.24px;
}

.p-sub-story1,
.p-sub-story2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.p-sub-story1 {
    margin-top: 40px;
}

.p-sub-story2 {
    margin-top: 24px;
}

.img-story {
    position: absolute;
    right: -135px;
}

.div-about-center {
    position: relative;
    margin-top: 140px;
}

.icon-about {
    height: 230px;
    margin-bottom: 140px;
    position: relative;
}

.icon-maker,
.icon-money,
.icon-bag,
.icon-end {
    width: 270px;
    height: 230px;
    position: relative;
    border: 1px solid rgb(214, 213, 213);
    display: inline-block;
}

.icon-money {
    position: absolute;
    left: 300px;
}

.icon-bag {
    position: absolute;
    right: 304px;
}

.icon-end {
    position: absolute;
    right: 0;
}

.div-icon-maker {
    width: 80px;
    height: 80px;
    background-color: black;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 10px solid rgb(222, 222, 215);
}

.fa-solid.fa-store,
.fa-solid.fa-coins,
.fa-solid.fa-bag-shopping,
.fa-solid.fa-sack-dollar {
    color: white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number-saller {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translateX(-50%);
}

.saller-our {
    width: 220px;
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.icon-maker:hover,
.icon-money:hover,
.icon-bag:hover,
.icon-end:hover {
    background-color: rgb(239, 82, 82);
    color: white;
}

.icon-maker:hover .div-icon-maker,
.icon-money:hover .div-icon-maker,
.icon-bag:hover .div-icon-maker,
.icon-end:hover .div-icon-maker {
    background-color: white;
    color: black;
    border: 10px solid rgb(239, 159, 145);
}

.icon-maker:hover .fa-solid.fa-store,
.icon-money:hover .fa-solid.fa-coins,
.icon-bag:hover .fa-solid.fa-bag-shopping,
.icon-end:hover .fa-solid.fa-sack-dollar {
    background-color: white;
    color: black;
}

/* Img */
.div-img-about {
    position: relative;
}

.img-about-1,
.img-about-2,
.img-about-3 {
    width: 370px;
    height: 564px;
    overflow: hidden;
    display: inline-block;
}

.img-about-1 {
    margin-right: 27px;
}

.img-about-3 {
    position: absolute;
    right: 0;
}

.img-1-1,
.img-2-1,
.img-3-1 {
    width: 326px;
    height: 392px;
}

.img-1-1,
.img-2-1,
.img-3-1 {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.name-img-about {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.28px;
    margin-top: 32px;
}

.sub-name-people {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

/* Nút */
.box-chua-nut {
    width: 112px;
    height: 16px;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nut-1,
.nut-2,
.nut-3,
.nut-4,
.nut-5 {
    width: 12px;
    height: 12px;
    background-color: rgb(190, 192, 193);
    border-radius: 50%;
}

.nut-3 {
    border: 1px solid white;
    background-color: red;
    outline: 2px solid rgb(190, 192, 193);
}