* {
  box-sizing: border-box;
  vertical-align: bottom;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Poppins;
}

/* Common */
.main-content {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.line {
  width: 1170px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* BUTTON */
.btn {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fafafa;
  padding: 16px 48px;
  background-color: #db4444;
}
.btn:hover {
  opacity: 0.8;
}
/* HEADER */
header {
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 5;
}
header .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  position: relative;
}

.list-header:not(.sub-header:first-child) {
  left: 310px; 
  position: absolute;
  top: 20px;
}

.list-header .sub-header {
  width: 66px;
  height: 24px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  object-fit: cover;
}

.list-header {
  left: 250px;
  position: absolute;
}

.list-header li {
  display: inline-block;
}

.list-header li:not(li:first-child) {
  margin-left: 48px;
}

.list-header li:hover::after {
  display: inline-block;
  content: "";
  width: 66px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  text-align: center;
}

.header-search {
  background-color: rgb(243, 234, 234);
  border: none;
  width: 200px;
  height: 30px;
  padding: 5px;
  margin-right: 65px;
}

.search-store {
  position: relative;
}

.icon-search {
  display: inline-block;
  position: absolute;
  right: 75px;
  top: 7px;
}

.heart {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 7px;
}

.icon-shop {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
}

/* FOOTER */
footer .footer-box-content {
  display: block;
  width: 100%;
  height: 440px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.end-project {
  position: relative;
  width: 1440px;
  height: 440px;
  margin-right: auto;
  margin-left: auto;
}

.div-people {
  position: absolute;
  top: 118px;
  left: 90px;
}

.tiltle-footer1 {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

.admin-1,
.admin-2 {
  color: #d1cdcd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  line-height: 2;
}

.div-support {
  position: absolute;
  top: 118px;
  left: 430px;
}

.support {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

.footer-phone {
  width: 210px;
  color: #d1cdcd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  line-height: 2;
}

.footer-text {
  margin-top: 10px;
  padding-left: 16px;
  width: 210px;
  height: 48px;
  background-color: black;
  color: #d1cdcd;
  border: 1px solid #d1cdcd;
}

.icon-plane {
  position: absolute;
  color: #d1cdcd;
  right: 16px;
  bottom: 14px;
}

.function-web {
  position: absolute;
  top: 118px;
  left: 800px;
}

.comment-function {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

.home-footer,
.contact-footer,
.about-footer,
.sign-footer {
  text-decoration: none;
  display: block;
  width: 210px;
  color: #d1cdcd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  line-height: 2;
}

.function-web a:hover {
  text-decoration: underline;
}

.university {
  position: absolute;
  top: 118px;
  left: 1180px;
}

.div-university {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
  margin-bottom: 30px;
}

.name-university,
.kh-university {
  text-decoration: none;
  display: block;
  width: 210px;
  color: #d1cdcd;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  line-height: 2;
}

.img-footer {
  position: absolute;
  top: 27%;
  left: 1505px;
}

.end-footer {
  background-color: white;
  width: 443px;
  height: 150px;
}

.end-project::before {
  content: "© Nguyen Tat Thanh University - 24DKTPM1A - Nguyen Ngoc Hien - Dang Thanh Tuan";
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #666;
  left: 430px;
}

