.sub-login {
    position: absolute;
    right: -314px;
    top: 219px;
    width: 370px;
    height: 326px;
}

.Exclusive {
    width: 370px;
    height: 30px;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}

.Enter-details {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 24px;
}

.email-login {
    width: 370px;
    height: 24px;
    border: none;
    outline: none;
    margin-top: 48px;
}

.div-email-login::after {
    display: block;
    content: "";
    width: 370px;
    height: 1px;
    background-color: rgb(205, 201, 201);
}

.email-login:focus,
.email-login:active {
    outline: none;
    border: none;
}

.pass-login {
    display: block;
    width: 370px;
    height: 24px;
    border: none;
    outline: none;
    margin-top: 48px;
}

.div-pass-login::after {
    display: block;
    content: "";
    width: 370px;
    height: 1px;
    background-color: rgb(205, 201, 201);
}

.pass-login:focus,
.pass-login:active {
    outline: none;
    border: none;
}

.div-btn-login {
    background-color: rgb(240, 62, 62);
    border-radius: 5px;
    position: absolute;
    width: 143px;
    height: 56px;
    bottom: 0;
}

.btn-login {
    width: 143px;
    height: 56px;
    display: block;
}

.btn-login:hover {
    background-color: rgb(241, 95, 95);
    cursor: pointer;
}

.btn-lg {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 47px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forget-pass {
    position: absolute;
    right: -230px;
    bottom: 18px;
    color: rgb(240, 62, 62);
    ;
    text-decoration: none;
}

.forget-pass:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* REPONSIVE */

@media (max-width: 1400px) {
    .main-contentt {
        width: 100%;
    }
    .main--content {
        width: 100%;
    }
    .div-box-content {
        width: 100%;
        position: static;
    }
    .img-login {
        display: none;
    }
    .sub-login {
        position: relative;
        margin: auto;
        right: 0;
    }
}