* {
  box-sizing: border-box;
  vertical-align: bottom;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Poppins;
}

/* Common */
.box-content {
  width: 1440px;
  height: 981px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.main-content {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
header {
  border-bottom: 1px solid gray;
}

header .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 20px;
}

header .main-content {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.list-header:not(.sub-header:first-child) {
  left: 310px;
  position: absolute;
  top: 20px;
}

.list-header .sub-header {
  width: 66px;
  height: 24px;
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
}

.list-header li {
  display: inline-block;
}

.list-header li:not(li:first-child) {
  margin-left: 48px;
}

.list-header li:hover::after {
  display: inline-block;
  content: "";
  width: 66px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  text-align: center;
}

.header-search {
  background-color: rgb(243, 234, 234);
  border: none;
  width: 200px;
  height: 30px;
  padding: 5px;
}

.search-store {
  position: relative;
}

.icon-search {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 7px;
}

/* Content */
.main--content.box-content {
  position: relative;
}
.box-content .main-content {
  position: absolute;
  left: 0;
  margin-top: 60px;
}

.img-login {
  width: 850px;
  width: 706px;
  margin-right: 129px;
}

/* FOOTER */