.sub-signup {
    position: absolute;
    right: -293px;
    top: 84px;
}

.creat-acc {
    color: var(--Text2, #000);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.44px;
}

.details {
    color: var(--Text2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.name-signup {
    width: 370px;
    height: 24px;
    border: none;
    outline: none;
    margin-top: 48px;
}

.name-sig::after {
    display: block;
    content: "";
    width: 370px;
    height: 1px;
    background-color: rgb(205, 201, 201);
}

.name-signup:focus,
.name-signup:active {
    outline: none;
    border: none;
}

.email-phone {
    display: block;
    width: 370px;
    height: 24px;
    border: none;
    outline: none;
    margin-top: 48px;
}

.email-sign::after {
    display: block;
    content: "";
    width: 370px;
    height: 1px;
    background-color: rgb(205, 201, 201);
}

.email-phone:focus,
.email-phone:active {
    outline: none;
    border: none;
}

.pass-signup {
    width: 370px;
    height: 24px;
    border: none;
    outline: none;
    margin-top: 48px;
}

.sg-pass::after {
    display: block;
    content: "";
    width: 370px;
    height: 1px;
    background-color: rgb(205, 201, 201);
}

.pass-signup:focus,
.pass-signup:active {
    outline: none;
    border: none;
}


/* Ô Nút */

.box-content-gg {
    width: 370px;
    height: 188px;
    position: relative;
    top: 40px;
}


/* Nút creat acccount */

.div-btn-create {
    width: 370px;
    height: 56px;
    position: absolute;
    top: 0;
}

.btn-create {
    display: block;
    background-color: rgb(240, 62, 62);
    width: 370px;
    height: 56px;
    border-radius: 5px;
}

.sub-btn-creat {
    width: 127px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    position: absolute;
    left: 122px;
    top: 16px;
}

.btn-create:hover {
    background-color: rgb(241, 95, 95);
    cursor: pointer;
}


/* Nút gg */

.div-btn-gg {
    width: 370px;
    height: 56px;
    position: relative;
    top: 72px;
    border: 1px solid rgb(215, 213, 210);
    border-radius: 5px;
}

.div-btn-gg:hover {
    background-color: rgb(211, 210, 209);
    cursor: pointer;
}

.btn-google {
    background-color: rgb(240, 62, 62);
    width: 370px;
    height: 56px;
}

.logo-google {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
}

.signup-gg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 159px;
    height: 24px;
    color: black;
}


/* Go Login */

.box-go-login {
    width: 248px;
    height: 28px;
    position: absolute;
    bottom: 0;
}

.alr-account {
    width: 185px;
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgb(176, 174, 171);
    position: absolute;
    left: 61px;
}

.go-login {
    color: black;
    text-decoration: none;
    position: absolute;
    border-bottom: 1px solid rgb(0, 0, 0);
    left: 201px;
    width: 47px;
    height: 24px;
}

.go-login:hover {
    color: rgb(239, 123, 123);
    border-bottom: 1px solid rgb(239, 123, 123);
}

@media (max-width: 1400px) {
    .main-contentt {
        width: 100%;
    }
    .box-content {
        width: 100%;
    }
    .div-box-content {
        position: static;
        margin: auto;
    }
    .img-login {
        display: none;
    }
    .sub-signup {
        width: 100%;
        position: relative;
        margin: auto;
        right: 0;
        top: 0;
    }
}